
<main class="main">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex">

      <div class="d-flex justify-content-between align-items-center w-100">
        <a class="navbar-brand" href="#">
          NFC Connect
        </a>
        <button type="button" class="btn btn-primary px-5 d-flex justify-content-center align-items-center" (click)="logout()">
          <span >Logout</span>
        </button>
      </div>
    </div>
  </nav>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form>
      <mat-form-field class="w-100" *ngIf="!isLoading">
        <mat-label>Select tour account</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button type="button" class="btn btn-primary px-5 w-100 d-flex justify-content-center align-items-center" (click)="connect()" [disabled]="isLoading">
        <span >Connect</span>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </button>

    </form>

  </div>
</main>

